body {
    background-color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers both rows horizontally */
    gap: 50px; /* Space between the two rows */
}

.row {
    display: flex;
    justify-content: center;
    gap: 50px; /* Consistent spacing between cards */
}

.card {
    width: 300px;
    height: 450px;
    background-color: gray;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: white;
    transition: border 0.3s ease;
    border: 2px solid transparent;
}

.mike:hover {
    background-color: #ff0000;
}

.marcie:hover {
    background-color: #00ff00;
}

.kason:hover {
    background-color: #0000ff;
}

.cooper:hover {
    background-color: #ffcc00;
}

.kylen:hover {
    background-color: #ff00ff;
}

.kohl:hover {
    background-color: #00ffff;
}

.krew:hover {
    background-color: #ae00ff;
}
